<div ng-show="!isWaiting">
	<div ng-show="!currentUser" ng-init="isRegistering = false; isLoggingIn = false">
		<button ng-click="isRegistering = true">Register</button>
		<button ng-click="isLoggingIn = true">Login</button>

		<div ng-show="isRegistering">
			<input type="text" ng-model="username"/>
			<input type="password" ng-model="password"/>
			<input type="email" ng-model="email"/>
			<button ng-click="register()" ng-disabled="isWorking">Register</button>
		</div>

		<div ng-show="isLoggingIn">
			<input type="text" ng-model="username"/>
			<input type="password" ng-model="password"/>
			<button ng-click="login" ng-disabled="isWorking">Login</button>
		</div>

		<div class="well" ng-show="errorMessage">{{errorMessage}}</div>
	</div>

	<div ng-show="currentUser">
		<button class="btn btn-lg" ng-click="createResourceUseRequest()">I need to go ASAPEE!</button>
	</div>

</div>
<div ng-show="isWaiting">
	<h3>Request Created</h3>
	<h5>We estimate it will be your turn in {{timeRemaining}}</h5>
</div>
